/*STARTER CODE*/

/*
We have started some of the selectors for you.
For others we have provided hints on what the selectors should be.
There are some missing selectors.
Make sure to learn what the starter code does!!
*/

/*STARTER CODE - DO NOT CHANGE*/
main{
  margin-bottom: 100px;
}

caption{
  margin:5px 0px;
}

/* If you decide to uncomment this code, comment it back for the Autograder. */
/* tr{
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
} */

/*END STARTER CODE*/

body{
  color: #000000;
  font-family:"Andika", sans-serif;
  font-size: 16px;
  margin: 1.2em;
  background-image: url("../images/pigeon-background.JPEG");
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center;
  background-color: #DDDDDD;

  /*Req 1*/
}

h1{
  color: #c12258;
  font-size: 32px;
  text-align: center;
  line-height: 2;

  ;

  /*Req 2*/
}

p{
  padding-top: 15px;
}

a{
  font-size:16px ;
  color: #B21F50; 
  text-decoration-style: wavy;
  
}

/*Req 5*/
/*Add selector and rule here*/

:focus{
  border: dashed 3px #417243;
  outline:none;
}

/*
th: header cell in a table
td: defines a standard data cell in a table
tr: defines a row in a table 
*/

td{
  text-align: center;
  border-top: solid #000000 2px;
  padding: 10px;
}


.colhead{
  color: #FFFFFF;
  min-width: 125px;
  padding: 10px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #7e0825;
}


.rowhead{
  border-right: solid #000000 2px;
  border-top: solid #000000 2px;
}

tr:nth-child(odd){
  background: transparent
}
tr:nth-child(even){
  background-color: #D1D1D1;
}
tr:hover{
  background: rgba(126, 8, 37, 0.25)

}

table{
  border-collapse: separate;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #000000;
  border-radius: 50px;    
}


/* I gave you the selector, but not the property-value pair. 
You can use Inspect Element or your editor to find selectors. */
/*
thead tr:first-child th:first-child{}
*/

/*top right bottom left*/


thead tr:first-child th:first-child{
  border-top-left-radius: 50px;
}
thead tr:first-child th:last-child{
  border-top-right-radius: 50px;
}
tbody tr:last-child td:last-child{
	border-bottom-right-radius: 50px;
}
tbody tr:last-child th:first-child{
  border-bottom-left-radius: 50px;
}

/*Add selectors and rules here*/


footer {
  position:fixed;
  min-height: 75px;
  width: 100%;
  background:#000000;
  text-align:center;
  color: #FFFFFF;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}
